---
import {Header} from '@/components'
import {ViewTransitions} from 'astro:transitions'
import {ToastContainer} from 'react-toastify'
import 'react-toastify/dist/ReactToastify.css'
import {SWRConfig} from 'swr'
interface Props {
  title: string
}

const {title} = Astro.props
---

<!doctype html>
<html lang="es" class="[font-family: Papyrus, fantasy] bg-background text-slate-300">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gestion de ventas" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="h-[100lvh]">
    <Header />
    <main class="flex flex-col justify-center gap-24 px-16 pt-16">
      <div class="m-auto w-full">
        <slot />
      </div>
      <ToastContainer
        client:idle
        position="top-right"
        autoClose={5000}
        newestOnTop={false}
        rtl={false}
        pauseOnFocusLoss
        draggable={false}
        pauseOnHover
        theme="colored"
      />
    </main>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"></script>

    <style is:global>
      :root {
        font-family: 'Comic Sans MS', cursive;
        color-sheme: dark white;
      }
    </style>
  </body>
</html>
